DP_Masek_Jiri_2012.aux
DP_Masek_Jiri_2012.bbl
DP_Masek_Jiri_2012.out
DP_Masek_Jiri_2012.blg
DP_Masek_Jiri_2012.log
DP_Masek_Jiri_2012.dvi
DP_Masek_Jiri_2012.lot
DP_Masek_Jiri_2012.lof
DP_Masek_Jiri_2012.toc
texput.log
SocialRelationsStorage/data
